In [14]:
import pandas as pd
import os

In [38]:
df_articles =  pd.read_csv(r'..\data\us_equities_news_dataset.csv')
df_articles.head()

,id,ticker,title,category,content,release_date,provider,url,article_id
0,221515,NIO,Why Shares of Chinese Electric Car Maker NIO A...,news,What s happening\nShares of Chinese electric c...,2020-01-15,The Motley Fool,https://invst.ly/pigqi,2060327
1,221516,NIO,NIO only consumer gainer Workhorse Group amon...,news,Gainers NIO NYSE NIO 7 \nLosers MGP Ingr...,2020-01-18,Seeking Alpha,https://invst.ly/pje9c,2062196
2,221517,NIO,NIO leads consumer gainers Beyond Meat and Ma...,news,Gainers NIO NYSE NIO 14 Village Farms In...,2020-01-15,Seeking Alpha,https://invst.ly/pifmv,2060249
3,221518,NIO,NIO NVAX among premarket gainers,news,Cemtrex NASDAQ CETX 85 after FY results \n...,2020-01-15,Seeking Alpha,https://invst.ly/picu8,2060039
4,221519,NIO,PLUG NIO among premarket gainers,news,aTyr Pharma NASDAQ LIFE 63 on Kyorin Pharm...,2020-01-06,Seeking Alpha,https://seekingalpha.com/news/3529772-plug-nio...,2053096

In [37]:
df_stockprices = pd.read_csv(r'..\data\AAPL.csv')
df_stockprices.head()

         Date      Open      High       Low     Close  Adj Close      Volume
0  2009-01-15  2.877500  3.004286  2.858929  2.977857   2.542589  1831634000
1  2009-01-16  3.010714  3.013571  2.871429  2.940357   2.510570  1047625600
2  2009-01-20  2.926071  2.928571  2.792857  2.792857   2.384630   919914800
3  2009-01-21  2.835357  2.960000  2.832500  2.958214   2.525818  1089270000
4  2009-01-22  3.144286  3.214286  3.065000  3.155714   2.694449  1409528400